<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>brmo-proxyservices</display-name>
    <servlet>
        <servlet-name>BRK_file</servlet-name>
        <servlet-class>nl.b3p.brmo.service.proxy.BerichtEndpointFileServlet</servlet-class>
        <init-param>
            <param-name>save_dir</param-name>
            <param-value>/var/opt/brmo/brk/</param-value>
            <description>directory waar bestanden terecht komen</description>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BAG_file</servlet-name>
        <servlet-class>nl.b3p.brmo.service.proxy.BerichtEndpointFileServlet</servlet-class>
        <init-param>
            <param-name>save_dir</param-name>
            <param-value>/var/opt/brmo/bag</param-value>
            <description>directory waar bestanden terecht komen</description>
        </init-param>
    </servlet>    
    <servlet>
        <servlet-name>BRK_proxy</servlet-name>
        <servlet-class>nl.b3p.brmo.service.proxy.BerichtEndpointProxyServlet</servlet-class>
        <init-param>
            <param-name>proxy_for_url</param-name>
            <param-value>http://localhost:8084/brmo-service/post/brk</param-value>
            <description>BRMO endpoint waarnaartoe door-gepost wordt</description>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BAG_proxy</servlet-name>
        <servlet-class>nl.b3p.brmo.service.proxy.BerichtEndpointProxyServlet</servlet-class>
        <init-param>
            <param-name>proxy_for_url</param-name>
            <param-value>http://localhost:8084/brmo-service/post/bag</param-value>
            <description>BRMO endpoint waarnaartoe door-gepost wordt</description>
        </init-param>
    </servlet>    
    <servlet-mapping>
        <servlet-name>BRK_file</servlet-name>
        <!--servlet-name>BRK_proxy</servlet-name-->
        <url-pattern>/post/brk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAG_file</servlet-name>
        <!--servlet-name>BAG_proxy</servlet-name-->
        <url-pattern>/post/bag</url-pattern>
    </servlet-mapping>       
</web-app>
