*.class
brmo-service/src/main/resources/git.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/brmo-loader/target/
/brmo-persistence/target/
/brmo-service/target/
/brmo-proxyservice/target/
/brmo-dist/target/
/brmo-loader/src/test/resources/nl/b3p/brmo/loader/xml/BURBX01-ASN00-20091130-6000015280-9100000039.zip