* text=auto
*.sql eol=lf
*.sql text eol=lf
*.geojson filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/Top100NL_000001.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/TOP10NL_07W.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/Top50NL_07W.gml filter=lfs diff=lfs merge=lfs -text
bgt-loader/src/test/resources/extract.zip filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_hoogte.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_plaats.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_spoorbaandeel.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_terrein.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_waterdeel.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_functioneelgebied.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_geografischgebied.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_inrichtingselement.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_registratiefgebied.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_relief.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_wegdeel.gml filter=lfs diff=lfs merge=lfs -text
brmo-loader/src/test/resources/topnl/top250nl_gebouw.gml filter=lfs diff=lfs merge=lfs -text
