<<<<<<< HEAD
dist: trusty
sudo: required
language: java

env:
  global:
    - secure: "mmLyX+VjQpLA7LQ79iIrBPjw/vnJC4Loda7BOyIy+H2seQJAwqDczG09aToTOkM/mmENAb08xv6JJ2PbsZqSZ3tTMXNxTOh4dGtR9DnTjtDzD4O6IHEDVOSbFndIsSEsQw4LXJWbbJwRJwF5Q+UPl+VLV+HyXbYOAmPAD96hXTA="
    - secure: "NynQI56H74dDi6sK4wxPawnLoLsrzADKmD8Jl7w3yQnYTfVU7zP07KeJKoIWhFaYB3GCKyG2qdeM1I5DOeim183c0h51WcQTVvHX3o1D3DyrdfuhqKTBXmAUXJObp/jUoABD2KKejSKZj+mkzqutITMUUbHDiMu5PD6WXEuCYT8="

addons:
   postgresql: "9.5"
   # fix voor OpenJDK bufferoverflow, zie:
   #  - https://docs.travis-ci.com/user/hostname
   #  - https://github.com/travis-ci/travis-ci/issues/5227
   #  - https://github.com/travis-ci/travis-ci/issues/5669
=======
language: java

addons:
>>>>>>> temp/master
   hostname: travis-brmo
   hosts: travis-brmo

jdk:
  - oraclejdk8
  - openjdk8

matrix:
  fast_finish: true

<<<<<<< HEAD
  allow_failures:

=======
>>>>>>> temp/master
cache:
  directories:
  - $HOME/.m2

before_install:
<<<<<<< HEAD
  # installeer een up-2-date Maven versie
  - wget https://www-eu.apache.org/dist/maven/maven-3/3.5.2/binaries/apache-maven-3.5.2-bin.zip
  - unzip -qq apache-maven-3.5.2-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.5.2
  - export PATH=$M2_HOME/bin:$PATH
  # installeer/update postgis 2.2 op postgresql 9.5
  - sudo service postgresql stop
  - sudo -E apt-get -qq update &>> ~/apt-get-update.log
  - sudo apt-get -qq install postgis-2.2 gdal-bin graphviz
  - sudo service postgresql stop
  - sudo service postgresql start 9.5
  - export PAGER=cat
  - psql --version
  - psql -U postgres -d postgres -c 'SELECT Version();'
  - psql -U postgres -a -c "CREATE ROLE staging LOGIN PASSWORD 'staging' SUPERUSER CREATEDB;"
  - psql -U postgres -a -c "CREATE ROLE rsgb LOGIN PASSWORD 'rsgb' SUPERUSER CREATEDB;"
  - psql -U postgres -a -c "CREATE ROLE rsgbbgt LOGIN PASSWORD 'rsgbbgt' SUPERUSER CREATEDB;"
  - psql -U postgres -c 'create database staging;'
  - psql -U postgres -c 'create database rsgb;'
  - psql -U postgres -d rsgb -c 'create extension postgis;'
  - psql -U postgres -d rsgb -c 'SELECT PostGIS_full_version();'
  - psql -U postgres -c 'create database rsgbbgt;'
  - psql -U postgres -d rsgbbgt -c 'create extension postgis;'
  - psql -U postgres -d rsgbbgt -c 'SELECT PostGIS_full_version();'
  - psql -U postgres -c 'create database topnl;'
  - psql -U postgres -d topnl -c 'create extension postgis;'
  - psql -U postgres -d topnl -c 'SELECT PostGIS_full_version();'
  - unset _JAVA_OPTIONS

install:
  # install all dependencies + artifacts without any testing and create any DB scripts
  - mvn install -Dmaven.test.skip=true -B -V -fae -q -Ppostgresql

before_script:
  # dit dient na afloop van de 'install' gedaan te worden omdat (een deel van) de sql gegenereerd wordt
  # set up staging db
  - ls -l ./brmo-persistence/db/
  - psql -U postgres -d staging -f ./brmo-persistence/db/create-brmo-persistence-postgresql.sql
  - psql -U postgres -d staging -f ./brmo-persistence/db/01_create_indexes.sql
  - psql -U postgres -d staging -f ./brmo-persistence/db/02_insert_default_user.sql
  - projectversion=$(grep "<version>.*<.version>" -m1 pom.xml | sed -e "s/^.*<version/<version/" | cut -f2 -d">"| cut -f1 -d"<")
  - sed -i s/\${project.version}/$projectversion/g ./brmo-persistence/db/05_create_brmo_metadata_postgresql.sql
  - psql -U postgres -d staging -f ./brmo-persistence/db/05_create_brmo_metadata_postgresql.sql
  # set up rsgb tabellen
  - ls -l ./datamodel/generated_scripts/
  - travis_wait psql -U postgres -w -q -d rsgb -f ./datamodel/generated_scripts/datamodel_postgresql.sql
  #- travis_wait psql -U postgres -w -d rsgb -f ./datamodel/utility_scripts/postgresql/111a_update_gemeente_geom.sql
  #- travis_wait psql -U postgres -w -d rsgb -f ./datamodel/utility_scripts/postgresql/113a_update_wijk_geom.sql
  # set up rsgbbgt tabellen
  - psql -U postgres -w -q -d rsgbbgt -f ./bgt-gml-loader/target/generated-resources/ddl/postgresql/create_rsgb_bgt.sql
  # set up topnl tabellen
  - ls -l ./brmo-dist/target/topnlschemas/nl/b3p/topnl/database
  - psql -U postgres -w -q -d topnl -f ./brmo-dist/target/topnlschemas/nl/b3p/topnl/database/postgres.sql

script:
  # run unit tests
  - mvn -e test -B -Ppostgresql -pl '!brmo-dist'
  # run integratie tests voor veschillende modules
  # run integratie tests voor bgt-gml-loader module
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'bgt-gml-loader'
  # run integratie tests voor brmo-loader module
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-loader'
  # run integratie tests voor brmo-service module
  #- travis_wait mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-service'
  - ulimit -a
  - free -m
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-service'
  # run integratie tests voor brmo-soap module
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-soap'
  # run integratie tests voor brmo-stufbg204 module
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-stufbg204'
  # run integratie tests voor brmo-commandline module
  - mvn -e verify -B -Ppostgresql -Dtest.onlyITs=true -pl 'brmo-commandline'
  # test of de javadoc compliant is met java-8 strict checks
  - if [ "$TRAVIS_JDK_VERSION" == oraclejdk8 ]; then
         travis_wait mvn -Ppostgresql javadoc:javadoc;
    fi
  - if [ "$TRAVIS_JDK_VERSION" == oraclejdk8 ]; then
         travis_wait mvn -Ppostgresql javadoc:test-javadoc;
    fi

# after_script:

after_success:
  # deploy maven site
  - if [ "$TRAVIS_JDK_VERSION" == oraclejdk8 ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
         travis_wait mvn -B -e -Ppostgresql site-deploy --settings .travis/settings.xml;
    fi

# after_failure:
=======
  - unset _JAVA_OPTIONS

install:
  # install all dependencies + artifacts without any testing
  - mvn install -Dmaven.test.skip=true -B -V -fae -q -Ptravis-ci

script:
  # run unit tests
  - mvn -e test -B -Ptravis-ci
  # test of de javadoc compliant is met java-8 strict checks
  - if [ "$TRAVIS_JDK_VERSION" == oraclejdk8 ]; then
         travis_wait mvn javadoc:javadoc -Ptravis-ci;
    fi
  - if [ "$TRAVIS_JDK_VERSION" == oraclejdk8 ]; then
         travis_wait mvn javadoc:test-javadoc -Ptravis-ci;
    fi
>>>>>>> temp/master
