version: "{build}-{branch}"
clone_folder: c:\projects\brmo
clone_depth: 5
skip_tags: true

init:
  - git config --global core.autocrlf input
  - git config --global core.safecrlf true

services:
  - mssql2016

environment:
  INSTANCENAME: SQL2016

  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

# todo set up voor meerdere db versies, zie: https://www.appveyor.com/docs/services-databases/
matrix:
  fast_finish: false

install:
  - cmd: echo %PATH%
  - cmd: java -version
  - cd C:\projects\brmo
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-http-proxy.ps1'))
  - ps: .\.appveyor\set-maven-proxy.ps1
  # initial build, no testing
  - mvn install -Dmaven.test.skip=true -B -V -fae -q -Pmssql -pl "!brmo-dist"

build: off

before_test:
# services worden na install gestart en we hebben gegenereerde sql nodig
  - cmd: echo "aanmaken en opzetten STAGING DB"
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -Q "CREATE DATABASE staging" -d "master"
  - dir -w .\brmo-persistence\db\
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -d "staging" -i .\brmo-persistence\db\create-brmo-persistence-sqlserver.sql
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -d "staging" -i .\brmo-persistence\db\01_create_indexes.sql
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -d "staging" -i .\brmo-persistence\db\02_insert_default_user.sql
  - ps: ([xml]$pom=Get-Content .\pom.xml)
  - ps: (Get-Content .\brmo-persistence\db\05_create_brmo_metadata_sqlserver.sql) -replace '\${project.version}', $pom.project.version | Set-Content .\brmo-persistence\db\05_create_brmo_metadata_sqlserver.sql
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -d "staging" -i .\brmo-persistence\db\05_create_brmo_metadata_sqlserver.sql
#
  - cmd: echo "aanmaken en opzetten RSGB DB"
  - cmd: SET SQLCMDINI=.\.appveyor\init.sql
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -Q "CREATE DATABASE rsgb" -d "master"
  - dir -w .\datamodel\generated_scripts\
  - sqlcmd -r0 -x -b -S (local)\SQL2016 -U sa -P Password12! -d "rsgb" -I -i .\datamodel\generated_scripts\datamodel_sqlserver.sql
#
  - cmd: echo "aanmaken en opzetten RSGBBGT DB"
  - sqlcmd -S (local)\SQL2016 -U sa -P Password12! -Q "CREATE DATABASE bgttest" -d "master"
  - dir -w .\bgt-gml-loader\target\generated-resources\ddl\sqlserver\
  - sqlcmd -r0 -b -S (local)\SQL2016 -I -U sa -P Password12! -d "bgttest" -i .\bgt-gml-loader\target\generated-resources\ddl\sqlserver\create_rsgb_bgt.sql
  - cmd: echo "computer name:" %COMPUTERNAME%
  - cmd: echo "instance name:" %INSTANCENAME%
  - ps: .\.appveyor\setting-tcp-ip-ports.ps1

test_script:
  # unit tests
  - mvn -e test -B -Pmssql -pl "!brmo-dist"
  # integratie tests
  # run integratie tests voor brmo-commandline module
  - mvn -e verify -B -Pmssql -Dtest.onlyITs=true -pl "brmo-commandline"
  # run integratie tests voor bgt-gml-loader module
  - mvn -e verify -B -Pmssql -Dtest.onlyITs=true -pl "bgt-gml-loader"
  # run integratie tests voor brmo-loader module
  - mvn -e verify -B -Pmssql -Dtest.onlyITs=true -pl "brmo-loader"
  # run integratie tests voor brmo-service module
  - mvn -e verify -B -Pmssql -Dtest.onlyITs=true -pl "brmo-service"
  # run integratie tests voor brmo-soap module
  - mvn -e verify -B -Pmssql -Dtest.onlyITs=true -pl "brmo-soap"


cache:
  - C:\Users\appveyor\.m2\repository -> pom.xml
