<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
    <GlobalNamingResources>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="2"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/staging" password="${DB_PASS_STAGING}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_STAGING}?sslmode=allow&amp;ApplicationName=brmo-service"
                  username="${DB_USER_STAGING}"
                  validationQuery="select 1"/>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="0"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/rsgb" password="${DB_PASS_RSGB}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_RSGB}?sslmode=allow&amp;ApplicationName=brmo-service"
                  username="${DB_USER_RSGB}"
                  validationQuery="select 1"/>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="0"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/rsgbbrk" password="${DB_PASS_RSGB}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_RSGB}?currentSchema=brk&amp;sslmode=allow&amp;ApplicationName=brmo-service"
                  username="${DB_USER_RSGB}"
                  validationQuery="select 1"/>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="0"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/rsgbbag" password="${DB_PASS_RSGB}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_RSGB}?sslmode=allow&amp;reWriteBatchedInserts=true&amp;ApplicationName=brmo-service"
                  username="${DB_USER_RSGB}"
                  validationQuery="select 1"/>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="0"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/rsgbbgt" password="${DB_PASS_RSGBBGT}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_RSGBBGT}?sslmode=allow&amp;reWriteBatchedInserts=true&amp;ApplicationName=brmo-service"
                  username="${DB_USER_RSGBBGT}"
                  validationQuery="select 1"/>
        <Resource auth="Container" driverClassName="org.postgresql.Driver" maxTotal="40" initialSize="0"
                  minEvictableIdleTimeMillis="5000" name="jdbc/brmo/rsgbtopnl" password="${DB_PASS_TOPNL}"
                  timeBetweenEvictionRunsMillis="30000" type="javax.sql.DataSource"
                  url="jdbc:postgresql://${PG_HOST}:${PG_PORT}/${DB_NAME_TOPNL}?sslmode=allow&amp;reWriteBatchedInserts=true&amp;ApplicationName=brmo-service"
                  username="${DB_USER_TOPNL}"
                  validationQuery="select 1"/>
        <Environment type="java.lang.Boolean" name="brmo/nhr/active" value="${HR_ACTIVE}"/>
        <Environment type="java.lang.Integer" name="brmo/nhr/secondsBetweenFetches" value="0"/>
        <Environment type="java.lang.String" name="brmo/nhr/keystorePath"
                     value="/opt/brmo-data/NHR/certificaten/klant.keystore.pfx"/>
        <Environment type="java.lang.String" name="brmo/nhr/keystorePassword" value="${HR_PASS_KEYSTORE}"/>
        <Environment type="java.lang.String" name="brmo/nhr/truststorePath"
                     value="/opt/brmo-data/NHR/certificaten/kvk.truststore.pfx"/>
        <Environment type="java.lang.String" name="brmo/nhr/truststorePassword" value="${HR_PASS_TRUSTSTORE}"/>
        <Environment type="java.lang.String" name="brmo/nhr/endpoint" value="${HR_URL}"/>
        <Environment type="java.lang.Boolean" name="brmo/nhr/endpointIsPreprod" value="${HR_ISPREPROD}"/>
        <Resource name="mail/session"
                  auth="Container"
                  type="javax.mail.Session"
                  mail.smtp.from="${MAIL_FROM}"
                  mail.smtp.host="${MAIL_HOST}"/>
        <Resource name="${HR_IMAP_RESOURCE}"
                  auth="Container"
                  type="javax.mail.Session"
                  mail.imap.port="993"
                  mail.imap.ssl.enable="true"
                  mail.transport.protocol="imap"
                  mail.user="${HR_IMAP_USER}"
                  password="${HR_IMAP_PASS}"
                  mail.imap.host="${HR_IMAP_HOST}"/>
        <Resource name="UserDatabase"
                  auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>
    <Service name="Catalina">
        <Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443">
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol"/>
        </Connector>
        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                       prefix="localhost_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b"/>
            </Host>
        </Engine>
    </Service>
</Server>
