<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <context-param>
        <description>Gebruik multithreaded XSL transformatie/GML parse pipeline</description>
        <param-name>pipelining.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>Capaciteit van de pipeline (aantal getransformeerde berichten)</description>
        <param-name>pipelining.capacity</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <description>Capaciteit van de batch (aantal uit database opgehaalde berichten)</description>
        <param-name>batch.capacity</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <description>Sluit en heropen database verbinding na commit (alleen voor sommige implementaties van Oracle)</description>
        <param-name>renewconnectionaftercommit</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Moet mutatieverwerking doorgaan (ignore) bij errors of niet (fail of iets anders)</description>
        <param-name>error.state</param-name>
        <param-value>ignore</param-value>
    </context-param>
    <context-param>
        <description>Maximum aantal te verwerken stand berichten per transformatie run, gebruik een waarde kleiner of gelijk aan 0 om uit te schakelen</description>
        <param-name>stand.transform.max</param-name>
        <param-value>1000000</param-value>
    </context-param>
    <context-param>
        <description>BRK export locatie, een bestaande directory waar de servlet container mag schrijven.
            Default waarde is /tmp/brkmutaties</description>
        <param-name>exportDir.brk</param-name>
        <param-value>/tmp/brkmutaties</param-value>
    </context-param>
    <context-param>
        <description>Aantal uitvoerende threads voor ingeplande taken. Default waarde is 1, bij hogere waarden dient de gebruiker er voor te zorgen dat er geen
            in de tijd overlappende transformatie of GDS2 processen van eenzelfde type, bijvoorbeeld berichten, lopen.
            Het verhogen is met name zinvol voor BGT light download processen.</description>
        <param-name>quartz.threadCount</param-name>
        <param-value>1</param-value>
    </context-param>
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.brmo.service.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>CoreInterceptor.Classes</param-name>
            <param-value>
                org.stripesstuff.plugin.waitpage.WaitPageInterceptor,
                net.sourceforge.stripes.controller.BeforeAfterMethodInterceptor,
                net.sourceforge.stripes.controller.HttpCacheInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>org.stripesstuff.stripersist</param-value>
        </init-param>
        <init-param>
            <param-name>Stripersist.InitializeSettingsClass</param-name>
            <param-value>nl.b3p.brmo.service.stripersist.DynamicStripersistInitializer</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.wait</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigUtil</servlet-name>
        <servlet-class>nl.b3p.brmo.service.util.ConfigUtil</servlet-class>
        <init-param>
            <param-name>max_upload_size</param-name>
            <param-value>5000</param-value>
        </init-param>
        <init-param>
            <param-name>temp_folder</param-name>
            <param-value>/tmp</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DiagnosticsServlet</servlet-name>
        <servlet-class>nl.b3p.brmo.service.util.DiagnosticsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GeplandeTakenInit</servlet-name>
        <servlet-class>nl.b3p.brmo.service.jobs.GeplandeTakenInit</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VersieInfo</servlet-name>
        <description>versie info controle</description>
        <servlet-class>nl.b3p.brmo.service.util.VersieInfo</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SimonConsoleServlet</servlet-name>
        <servlet-class>org.javasimon.console.SimonConsoleServlet</servlet-class>
        <init-param>
            <param-name>url-prefix</param-name>
            <param-value>/javasimon-console</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimonConsoleServlet</servlet-name>
        <url-pattern>/javasimon-console/*</url-pattern>
    </servlet-mapping>
    <listener>
        <description>Quartz cleanup listener</description>
        <listener-class>nl.b3p.brmo.service.jobs.GeplandeTakenContextListener</listener-class>
    </listener>
    <listener>
        <description>GeoTools initialisatie en cleanup listener</description>
        <listener-class>nl.b3p.brmo.web.geotools.GeotoolsContextListener</listener-class>
    </listener>
    <!-- Note: No authorization on url-patterns but on Stripes ActionBeans using
      @Secure (from Stripesstuff), so when the @UrlBinding changes no url-patterns
      need to be updated
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>layout</web-resource-name>
            <url-pattern>/styles/*</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/scripts/*</url-pattern>
            <url-pattern>/extjs/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>basisregistratie upload service endpoint</web-resource-name>
            <url-pattern>/post/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>roles</web-resource-name>
            <url-pattern>/logout.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <!-- BASIC is useful during development with lots of redeploys, use
             FORM for production
        -->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginfail.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
