<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/brmo-proxy-service.log"/>
        <param name="Threshold" value="debug" />
        <param name="Append" value="true" />
        <param name="maxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="BRMO-PROXY: %5p %d{HH:mm:ss} (%C#%M:%L) - %m%n" />
        </layout>
    </appender>
    <logger name="nl.b3p">
        <level value="info" />
    </logger>
    <root>
        <appender-ref ref="fileAppender" />
    </root>
</log4j:configuration>