<?xml version="1.0" encoding="UTF-8"?>
<!-- for ConversionPattern parameters see:
http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html
LEVELS: debug, info, warn, error, fatal en off, all -->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="all" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="BRMO-INIT-UTIL TEST: %5p %d{HH:mm:ss} (%C#%M:%L) - %m%n" />
        </layout>
    </appender>
    <root>
        <level value="debug" />
        <appender-ref ref="consoleAppender" />
    </root>
</log4j:configuration>
