<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <description>brmo stuf bg204 service</description>
    <display-name>BRMO StUF BG 204</display-name>
    <security-constraint>
        <display-name>WSSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>WS</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DiagnosticsServlet</servlet-name>
        <servlet-class>nl.b3p.brmo.service.util.DiagnosticsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConfigUtil</servlet-name>
        <servlet-class>nl.b3p.brmo.service.util.ConfigUtil</servlet-class>
        <init-param>
            <param-name>temp_folder</param-name>
            <param-value>/tmp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StUFBGAsynchroon</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StUFBGSynchroon</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StUFBGAsynchroon</servlet-name>
        <url-pattern>/StUFBGAsynchroon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StUFBGSynchroon</servlet-name>
        <url-pattern>/StUFBGSynchroon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
