<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee https://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    <display-name>brmo-proxyservices test</display-name>
    <servlet>
        <servlet-name>BRK_file</servlet-name>
        <servlet-class>nl.b3p.brmo.service.proxy.BerichtEndpointFileServlet</servlet-class>
        <init-param>
            <description>directory waar bestanden terecht komen</description>
            <param-name>save_dir</param-name>
            <param-value>${java.io.tmpdir}/brk</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BRK_file</servlet-name>
        <url-pattern>/post/brk</url-pattern>
    </servlet-mapping>
</web-app>
