name: OWASP dependency check

on:
  pull_request:
  schedule:
    - cron: "17 23 * * 0"

jobs:
  build:
    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
        java_dist: [ "zulu" ]

    steps:
      - uses: actions/checkout@v3

      - name: Cache Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: ${{ matrix.java_dist }}
          java-version: ${{ matrix.java }}

      - name: OWASP Dependency Check
        continue-on-error: true
        run: mvn -U package -Dmaven.test.skip=true -Ddocker.skip=true -Dtest.onlyITs= org.owasp:dependency-check-maven:aggregate -fae -B -Dorg.slf4j.simpleLogger.defaultLogLevel=WARN -DfailBuildOnCVSS=5

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: target/dependency-check-report.sarif
