name: Windows

env:
  MAVEN_OPTS: -Djava.awt.headless=true -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3

on:
  - pull_request

concurrency: # cancel on PR pushes
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ github.workflow }}-${{ ( github.ref == 'refs/heads/master' || github.ref == 'refs/heads/release' ) && format('ci-master-{0}', github.sha) || format('ci-master-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  build:
    name: Windows ${{ matrix.windows }}
    runs-on: ${{ matrix.windows }}
    strategy:
      matrix:
        java: [ 11 ]
        windows: [ windows-2019, windows-2022 ]

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Cache Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - name: Priming build
        run: |
          mvn --% clean install -Dmaven.test.skip=true -Dtest.onlyITs= -B -V -fae

      - name: Test
        run: |
          mvn --% -e test -B -pl "!brmo-dist" -Dtest.onlyITs=false
          mvn --% resources:testResources compiler:testCompile surefire:test -pl datamodel -Dtest="!*UpgradeTest,!P8*"

      - name: Verify
        # no database integration tests; GH does not support linux containers on windows and
        #   no suitable windows database images are available
        run: mvn --% -e verify -B -T1 -Dtest.onlyITs=true -pl "!brmo-dist"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true

      - name: Cleanup build artifacts en snapshots
        run: |
          mvn --% clean build-helper:remove-project-artifact
          # cmd --% /c for /f %i in ('dir /a:d /s /b %userprofile%\*SNAPSHOT*') do rd /s /q %i